USE [master]
GO
/****** Object:  Database [Lab1]    Script Date: 6/2/2020 8:24:51 PM ******/
CREATE DATABASE [Lab1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HUYSQL\MSSQL\DATA\Lab1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HUYSQL\MSSQL\DATA\Lab1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab1]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 6/2/2020 8:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[IdQuestion] [nvarchar](50) NOT NULL,
	[Question] [nvarchar](500) NULL,
	[Answer1] [nvarchar](500) NULL,
	[Answer2] [nvarchar](500) NULL,
	[Answer3] [nvarchar](500) NULL,
	[Answer4] [nvarchar](500) NULL,
	[CorrectAnswer] [nvarchar](500) NOT NULL,
	[IdSubject] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[QuesStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[IdQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 6/2/2020 8:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizDetail](
	[Email] [nvarchar](50) NOT NULL,
	[Score] [float] NULL,
	[IdQuiz] [int] IDENTITY(1,1) NOT NULL,
	[DoingDate] [datetime] NULL,
	[IdSubject] [nvarchar](50) NULL,
	[FinishTime] [datetime] NULL,
 CONSTRAINT [PK_QuizDetail_1] PRIMARY KEY CLUSTERED 
(
	[IdQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizUser]    Script Date: 6/2/2020 8:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizUser](
	[Email] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.QuizUser] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/2/2020 8:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[IdSubject] [nvarchar](50) NOT NULL,
	[NameSubject] [nvarchar](50) NULL,
	[SubStatus] [bit] NULL,
	[NumQuestion] [int] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[IdSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG1', N'______? -There are one thousand.', N'How many grams are there in a kilogram?', N'How many are there grams in a kilogram?', N'How many grams are they in a kilogram?', N'How many grams are there of a kilogram?', N'How many grams are there in a kilogram?', N'ENG', CAST(N'2020-05-26T14:20:01.277' AS DateTime), N'1')
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG10', N'How long ______ in Spain on vacation last summer?', N'were they', N'you are been', N'are been', N'was', N'were they', N'ENG', CAST(N'2020-05-26T14:20:01.290' AS DateTime), N'1')
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG11', N'Next weekend, we hope to ______ for a few days.', N'get away', N'get on', N'get through', N'get of', N'get away', N'ENG', CAST(N'2020-05-26T14:20:01.290' AS DateTime), N'1')
GO
SET IDENTITY_INSERT [dbo].[QuizDetail] ON 

INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject], [FinishTime]) VALUES (N'anhhyse130145@fpt.edu.vn', 10, 1, CAST(N'2020-05-31T14:24:29.760' AS DateTime), N'ENG', CAST(N'2020-05-31T14:24:41.553' AS DateTime))
INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject], [FinishTime]) VALUES (N'anhhyse130145@fpt.edu.vn', 10, 2, CAST(N'2020-05-31T14:26:18.407' AS DateTime), N'ENG', CAST(N'2020-05-31T14:26:34.257' AS DateTime))
INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject], [FinishTime]) VALUES (N'anhhyse130145@fpt.edu.vn', 10, 3, CAST(N'2020-05-31T14:29:37.470' AS DateTime), N'ENG', CAST(N'2020-05-31T14:29:49.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuizDetail] OFF
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role], [Code]) VALUES (N'giangnthse140109@fpt.edu.vn', N'Nguyen Thi Huong Giang', N'40bd001563085fc35165329ea1ff5c5ecbdbbeef', N'Active', N'student', N'395416')
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role], [Code]) VALUES (N'anhhyse130145@fpt.edu.vn', N'Tran Trinh Dang Huy', N'40bd001563085fc35165329ea1ff5c5ecbdbbeef', N'Active', N'admin', N'778318')
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role], [Code]) VALUES (N'khoaphdse140609@fpt.edu.vn', N'Khoa', N'7c4a8d09ca3762af61e59520943dc26494f8941b', N'Active', N'student', N'088547')
INSERT [dbo].[Subject] ([IdSubject], [NameSubject], [SubStatus], [NumQuestion], [Time]) VALUES (N'ENG', N'English', 1, 5, CAST(N'00:02:00' AS Time))
INSERT [dbo].[Subject] ([IdSubject], [NameSubject], [SubStatus], [NumQuestion], [Time]) VALUES (N'PRJ311', N'JavaWeb', 1, 50, CAST(N'01:10:00' AS Time))
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[QuizDetail] ADD  CONSTRAINT [DF_QuizDetail_DoingDate]  DEFAULT (getdate()) FOR [DoingDate]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Subject] FOREIGN KEY([IdSubject])
REFERENCES [dbo].[Subject] ([IdSubject])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Subject]
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD  CONSTRAINT [FK_QuizDetail_QuizUser] FOREIGN KEY([Email])
REFERENCES [dbo].[QuizUser] ([Email])
GO
ALTER TABLE [dbo].[QuizDetail] CHECK CONSTRAINT [FK_QuizDetail_QuizUser]
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD  CONSTRAINT [FK_QuizDetail_Subject] FOREIGN KEY([IdSubject])
REFERENCES [dbo].[Subject] ([IdSubject])
GO
ALTER TABLE [dbo].[QuizDetail] CHECK CONSTRAINT [FK_QuizDetail_Subject]
GO
USE [master]
GO
